<template>
    <div if:true={show}>
        <section class={sectionClass} role="dialog">
            <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog" onclick={closePopover}>
                <lightning-icon icon-name="utility:close" alternative-text="Close" title="Close" size="small" variant={iconVariant}></lightning-icon>
            </button>
            <header class="slds-popover__header" if:true={showHeader}>
                <div class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure" if:true={showIcon}>
                        <span class="slds-icon_container slds-icon-utility-error">
                            <lightning-icon icon-name={iconName} alternative-text="Error" title="Error" size="small" variant={iconVariant}></lightning-icon>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-truncate slds-text-heading_medium">{header}</h2>
                      </div>
                  </div>
            </header>
            <div class="slds-popover__body">
                <p>{body}</p>
            </div>
            <footer class="slds-popover__footer" if:true={showFooter}>
                <p>{footer}</p>
            </footer>
        </section>
    </div>
</template>
